<div class="bg-white">
  <div
    class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8"
  >
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a
          class="text-base leading-6 text-gray-500 hover:text-gray-900"
          href="/privacy/"
          >Privacy</a
        >
      </div>
      <div class="px-5 py-2">
        <a
          class="text-base leading-6 text-gray-500 hover:text-gray-900"
          href="/terms/"
          >Terms</a
        >
      </div>
      <div class="px-5 py-2">
        <a
          class="text-base leading-6 text-gray-500 hover:text-gray-900"
          href="/impressum/"
          >Impressum</a
        >
      </div>
      <div class="px-5 py-2">
        <a
          class="text-base leading-6 text-gray-500 hover:text-gray-900"
          href="/contact/"
          >Contact</a
        >
      </div>
    </nav>
    <div class="mt-8">
      <p class="text-center text-base leading-6 text-gray-400">
        © 2023 StuntCoders. All rights reserved.
      </p>
    </div>
  </div>
</div>
