<div class="relative px-4 pt-6 sm:px-6 lg:px-8">
  <nav
    class="relative flex items-center justify-between sm:h-10 lg:justify-start"
  >
    <div class="flex flex-shrink-0 flex-grow items-center lg:flex-grow-0">
      <div class="flex w-full items-center justify-between md:w-auto">
        <a href="/" aria-label="Home">
          <img
            class="h-8 w-auto sm:h-10"
            src="/assets/images/logo.png"
            alt=""
          />
        </a>
        <div class="-mr-2 flex items-center md:hidden">
          <button
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 transition duration-150 ease-in-out hover:bg-gray-100 hover:text-gray-500 focus:bg-gray-100 focus:text-gray-500 focus:outline-none"
            id="main-menu"
            type="button"
            aria-label="Main menu"
            aria-haspopup="true"
            onclick="document.getElementById('main-mobile-menu').className='absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden z-50'"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="none"
              viewbox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="hidden md:ml-10 md:block md:pr-4">
      <a
        class="font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900"
        href="/about/"
        >About</a
      >
      <a
        class="ml-8 font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900"
        href="/internship-junior/"
        >Internship &amp; Junior</a
      >
      <a
        class="ml-8 font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900"
        href="/the-process/"
        >The process</a
      >
      <a
        class="ml-8 font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-900"
        href="/open-positions/"
        >Open Positions</a
      >
    </div>
  </nav>
</div>

<div
  class="absolute inset-x-0 top-0 hidden origin-top-right transform p-2 transition"
  id="main-mobile-menu"
>
  <div class="rounded-lg shadow-md">
    <div
      class="shadow-xs overflow-hidden rounded-lg bg-white"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="main-menu"
    >
      <div class="flex items-center justify-between px-5 pt-4">
        <div>
          <img class="h-8 w-auto" src="/assets/images/logo.png" alt="" />
        </div>
        <div class="-mr-2">
          <button
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 transition duration-150 ease-in-out hover:bg-gray-100 hover:text-gray-500 focus:bg-gray-100 focus:text-gray-500 focus:outline-none"
            type="button"
            aria-label="Close menu"
            onclick="document.getElementById('main-mobile-menu').className='hidden absolute top-0 inset-x-0 p-2 transition transform origin-top-right z-50'"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="none"
              viewbox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="px-2 pt-2 pb-3">
        <a
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-900 focus:bg-gray-50 focus:text-gray-900 focus:outline-none"
          href="/about/"
          role="menuitem"
          >About</a
        >
        <a
          class="mt-1 block rounded-md px-3 py-2 text-base font-medium text-gray-700 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-900 focus:bg-gray-50 focus:text-gray-900 focus:outline-none"
          href="/internship-junior/"
          role="menuitem"
          >Internship &amp; Junior</a
        >
        <a
          class="mt-1 block rounded-md px-3 py-2 text-base font-medium text-gray-700 transition duration-150 ease-in-out hover:bg-gray-50 hover:text-gray-900 focus:bg-gray-50 focus:text-gray-900 focus:outline-none"
          href="/the-process/"
          role="menuitem"
          >The Process</a
        >
      </div>
      <div>
        <a
          class="block w-full bg-gray-50 px-5 py-3 text-center font-medium text-indigo-600 transition duration-150 ease-in-out hover:bg-gray-100 hover:text-indigo-700 focus:bg-gray-100 focus:text-indigo-700 focus:outline-none"
          href="/open-positions/"
          role="menuitem"
          >Open Positions</a
        >
      </div>
    </div>
  </div>
</div>
