<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="facebook-domain-verification" content="u7n67cd60by0290q0me248tsm49hl0" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  </head>
        
  <body class="font-sans antialiased text-gray-900">
    {{ content }}
	  {% include footer.html %}
  </body>
</html>
